/*Stylesheet for html file 'list1'*/

body {
  background-color: #EDECAB;
}

#header {
  width:80%;
  height:20%;
  padding: 10px;
  margin: 20px 20px 20px 10%;
  border: 10px solid;
  /*float: center;*/
}

h1 {
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #CCC;
  letter-spacing: 3px;
}

.nation#fire {
  width: 40%;
  height:50%;
  padding: 10px;
  margin: 20px 20px 20px 40px;
  border: 10px solid;
  float: left;
}

.nation#air {
  width: 40%;
  height:50%;
  padding: 10px;
 margin: 20px 40px 20px 20px;
  border: 10px solid;
  float: right;

}

.nation#water {
  width: 40%;
  height:50%;
  padding: 10px;
 margin: 20px 20px 20px 40px;
  border: 10px solid;
  float: left;
}

.nation#earth {
  width: 40%;
  height:50%;
  padding: 10px;
   margin: 20px 40px 20px 20px;
  border: 10px solid;
  float: right;
}

/* box-sizing: border-box; magic thing that resizes to specification*/
