/*  CSS stylesheet for - 'Frontend/cvs/cv1.html'
*
*   <style type="text/css">
*
*   Standard size
=============================================================================*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  /*padding: 10px;*/
}

h1 {
  padding: 5px;
  margin: 0;
  background-color: white;
}

h2 {
  padding: 5px;
  margin: 0;
  background-color: #FF530D;
}

h3 {
  padding: 5px;
  margin: 0;
  background-color: white;
}

p {
  padding: 5px;
  margin: 0;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  padding: 15px;
  background-color: gray;
}
  aside img {
    /*padding: 10% 10% 10% 20%;*/
    /*float: right;*/
    margin: 0;
    width: 48%;
    height: 40%;
    border-radius: 50%
  }
  aside #info-card {
    padding: 15px;
    background-color: white;
  }
    aside #info-card #contact {
      /*clear: left;*/
      /*float: right;*/
      padding: 15px;
      background-color: #B24813;
    }

main {
  float: right;
  left: 30%;
  width: 70%;
  height: 100%;
}

#profile {
  padding: 15px;
  margin: 0;
  float: left;
  overflow: hidden;
  background-color: blue;
}
  #profile p {
    background-color: #F5F6CE;
  }

#skills {
  padding: 15px;
  margin: 0;
  overflow: hidden;
  background-color: red;
}
  #skills .skill-sections {
    padding: 15px;
    margin: 0;
    background-color: yellow;
  }

nav {
  padding: 15px;
  margin: 0;
  background-color: purple;
}
  nav ul {
    padding: 15px;
    margin: 0;
    background-color: #FAAC58;
  }

#history {
  padding: 15px;
  margin: 0;
  background-color: orange;
}
  .position {
    padding: 15px;
    margin: 0;
    background-color: #01DF74;
  }
  .dates {
      padding: 15px;
      margin: 0;
      background-color: #FA5858;
  }
  .summary {
    padding: 15px;
    margin: 0;
    background-color: #9AFE2E;
  }

#education {
  padding: 15px;
  margin: 0;
  background-color: green;
}
  #makers {
    padding: 15px;
    margin: 0;
    background-color: #F6CEE3;
  }
  #uni {
    padding: 15px;
    margin: 0;
    background-color: #9FF781;
  }
  #wanstead {
    padding: 15px;
    margin: 0;
    background-color: #FA5882;
  }
  #school {
    padding: 15px;
    margin: 0;
    background-color: #F6CEE3;
  }

#strengths {
  padding: 15px;
  margin: 0;
  background-color: pink;
}
  #strengths #strengths-points {
    padding: 15px;
    margin: 0;
    background-color: white;
  }

#interests {
  padding: 15px;
  margin: 0;
  background-color: violet;
}
  #interests p {
    padding: 15px;
    margin: 0;
    background-color: yellow;
  }

#references {
  padding: 15px;
  margin: 0;
  background-color: indigo;
}
