/*  CSS stylesheet for - 'Desktop/Frontend/cvs/cv1.html'
*                        'https://github.com/Mervodactyl/Frontend.git'
*   <style type="text/css">
*
*   Standard size
=============================================================================*/
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /*border: 1px solid;*/
}

h1 {
  padding: 1%;
  margin: 0;
  /*background-color: #00FF80;*/
  font-family: 'Bree Serif', serif;
  border-bottom: 1px dashed;
}

h2 {
  padding: 1%;
  margin: 0;
  /*background-color: #FF530D;*/
  font-family: 'Bree Serif', serif;
  /*border: 1px solid;*/
  border-bottom: 1px dashed;
}

h3 {
  padding: 1%;
  margin: 0;
  /*background-color: white;*/
  font-family: 'Bree Serif', serif;
  /*border: 1px solid;*/
  border-bottom: 1px dashed;
}

p {
  padding: 1%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /*border: 1px solid;*/
}

ul {
  font-family: 'Open Sans', sans-serif;
  /*border: 1px solid;*/
}

.orange {
  color:#DF6D1F;
  font-weight: bold;
}

.blue {
  color: #35A2C6;
  font-weight: bold;
}

img {
  float: right;
  margin: 0;
  width: 250px;
  height: 245px;
  border-radius: 50%
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  padding: 5% 2% ;
  background-color: #35A2C6;
}
  aside #info-card {
    clear: right;
    padding: 5% 0% 5% 30%;
    /*background-color: white;*/
  }
    aside #info-card #contact {
      padding: 1%;
      text-align: center;
      /*background-color: #B24813;*/
    }

#visible {
  background: rgba(223, 84, 0, 0.9);
  position: fixed;
  top: 0;
  float: right;
  left: 30%;
  z-index: 1;
  width: 70%;
  padding: 1%;
  opacity: 0.7;
  margin: 0;
  /*background-color: #DF5400;*/

}
  header p {
    padding: 1%;

    /*background-color: violet;*/
  }

  #hidden {
    visibility: hidden;
    top: 0;
    left: 30%;
    width: 100%;
    padding: 1%;
    margin: 0;
    background-color: rgba(223, 84, 0, 0.5);
    /*background-color: pink;*/
  }
    header p {
      padding: 1%;
      /*background-color: violet;*/
    }


main {
  clear: left;
  float: right;
  left: 30%;
  width: 70%;
  height: 100%;
  /*border: 1px solid;*/
}


#profile {
  padding: 1%;
  margin: 0;
  /*background-color: blue;*/
  /*border: 1px solid;*/

}
  #profile p {
    /*background-color: #F5F6CE;*/
    /*border: 1px solid;*/

  }

#skills {
  padding: 1%;
  padding-top: 1%;
  margin: 0;
  /*background-color: red;*/
}
  #skills .skill-sections {
    padding: 1%;
    margin: 0;
    /*background-color: yellow;*/
  }


nav {
  padding: 1%;
  margin: 0;
  /*background-color: purple;*/
}
  nav ul {
    padding: 1%;
    margin: 0;
    /*background-color: #FAAC58;*/
  }

#history {
  padding: 1%;
  margin: 0;
  /*background-color: orange;*/
}
  .position {
    padding: 1%;
    margin: 0;
    /*background-color: #01DF74;*/
  }
  .dates {
      padding: 1%;
      margin: 0;
      /*background-color: #FA5858;*/
  }
  .summary {
    padding: 1%;
    margin: 0;
    /*background-color: #9AFE2E;*/
  }

#education {
  padding: 1%;
  margin: 0;
  /*background-color: green;*/
}
  #makers {
    padding: 1%;
    margin: 0;
    /*background-color: #F6CEE3;*/
  }
  #uni {
    padding: 1%;
    margin: 0;
    /*background-color: #9FF781;*/
  }
  #wanstead {
    padding: 1%;
    margin: 0;
    /*background-color: #FA5882;*/
  }
  #school {
    padding: 1%;
    margin: 0;
    /*background-color: #F6CEE3;*/
  }

#strengths {
  padding: 1%;
  margin: 0;
  /*background-color: pink;*/
}
  #strengths #strengths-points {
    padding: 1%;
    margin: 0;
    /*background-color: white;*/
  }

#interests {
  padding: 1%;
  margin: 0;
  /*background-color: violet;*/
}
  #interests p {
    padding: 1%;
    margin: 0;
    /*background-color: yellow;*/
  }

#references {
  border-top: 1px dashed;
  border-bottom: 0;
  padding: 1%;
  margin: 0;
  /*background-color: indigo;*/
}
